#       .viminfo
#       requiredMCRProducts.txt
**/*~
**/*.swp
**/*.mat
**/*.zip
**/*.tar
**/*.gz
**/*.tgz
**/*.BRIK
**/*.HEAD
**/*.nii
**/*.dmr
*.dmr
bin/
binaries.tar.gz
log/
source_code.tar.gz
demo/params.json
demo/results.json
mccExcludedFiles.log
readme.txt
src/testtest.m
src/learn_category_encoding.m.rej
dependencies/Searchmight/CoreToolbox/ExternalPackages.Linux_x86_64/libsvm/svm.o
dependencies/Searchmight/CoreToolbox/ExternalPackages.Linux_x86_64/libsvm/svm_model_matlab.o
dependencies/Searchmight/CoreToolbox/ExternalPackages.Linux_x86_64/libsvm/svmpredict.mexa64
.bash_history
.viminfo
requiredMCRProducts.txt

