**/*~
**/*.swp
**/*.mat
**/*.zip
**/*.tar
**/*.gz
**/*.tgz
**/*.BRIK
**/*.HEAD
**/*.nii
**/*.dmr
*.dmr
bin/
binaries.tar.gz
log/
source_code.tar.gz
demo/params.json
demo/results.json
mccExcludedFiles.log
readme.txt
